body{
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: #cdcdcd;
    font-family: Arial, Helvetica, sans-serif;
}
#menu{
    margin: 0;
}

#menuToggle{
    width: 100%;
    background-color: #ededed;
}

#menuToggle ul{
    padding: 20px;
}

#menuToggle input{
    display: none;
}

#menuToggle li{
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
}

#menuToggle a{
    text-decoration: none;
    color: #232323;
    transition: color .3s ease;
}

#menuToggle a:hover{
    color: tomato;
}

@media only screen and (max-width: 800px){
    #menuToggle{
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        background: none;
    }
    #menuToggle input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
    }

    #menuToggle span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background-color: #ededed;
        border-radius: 3px;
        z-index: 1;
        position: relative;
        transform-origin: 4px 0;
        transition: background 0.5s cubic-bezier(0.77, 0.77, 0.05, 1), opacity 1s ease;
    }

    #menuToggle span:first-child{
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }
    #menuToggle input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) translate(-5px,-2.5px);
    }

    #menuToggle input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0px, -1px);
    }

    #menu{
        position: absolute;
        width: 300px;
        margin: -100px;
        padding: 50px;
        padding-top: 125px;
        background-color: #cdcdcd;
        list-style: none;
        transform-origin: 0 0;
        transform: translate(-100%, 0);
        transition: transform .5s ease;
    }

    #menuToggle ul {
        padding: 50px;
        padding: 125px;
    }

    #menuToggle li {
        padding: 10px 0;
        display: block;
        font-size: 22px;
    }
    #menuToggle input:checked ~ul{
        transform: none;
    }
}